body {
    background-color: #0f1720;
    margin: 0;
}
.up {
    background-color: #0b1220;
    height: 60px;
    width: 100%;
    display: flex;              
    justify-content: center;    
    align-items: center;  
}
#bold2 {
    font-size: 15px;
    font-weight: normal;
    color: rgb(210, 207, 207);
    margin: 0; 
    left: 20px;
}
#back {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 6px;
    left: 20px;
}
#home {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 6px;
    right: 20px;
}
#comment2 {
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 200px;
    background-color: #0b1220;
    color: white;
    border: 1px solid #94a3b8;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}
#but {
    display: block;
    margin: 1px 60px auto auto;
    padding: 10px 20px;
    background-color: #f97316;
    color: #0f1720;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    transition: background-color 0.3s ease;
}
.comments {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment {
  display: flex;
  gap: 12px;
  background: #0b1220;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #1e293b;
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

}

.comment__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    border: 5px solid #1e293b;
}

.comment__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.comment__author {
  font-size: 14px;
  font-weight: bold;
  color: #f3f4f6;
  margin-bottom: 4px;
}

.comment__text {
  font-size: 14px;
  color: #d1d5db;
  margin: 0 0 6px 0;
}

.comment__date {
  font-size: 12px;
  color: #9ca3af;
  align-self: flex-end;
}