body {
    background-color: #0f1720;
    margin: 0;
}
.up {
    background-color: #0b1220;
    height: 60px;
    width: 100%;
    display: flex;              
    justify-content: center;    
    align-items: center;  
          
}
#bold {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 0; 
}
#back {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 6px;
    left: 20px;
}
#home {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 6px;
    right: 20px;
}
#manga {
    display: block;
    margin: 0px auto;
    max-width: 90%;
    height: auto;
}
#comments {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 6px;
    right: 90px;
}
