body {
    background-color: #0f1720;
    color: #e6eef8;
    font-family: "Trebuchet MS", Arial, sans-serif;
}
nav.navbar {
    background-color: #0b1220;
}
.nav-link {
    color: #f97316 !important;
    font-weight: 500;
}
.nav-link:hover {
    color: #ffb86b !important;
}
.manga-card {
    background-color: #1a2435;
    border-radius: 20px;
    transition: 0.3s;
}
.manga-card:hover {
    background-color: #192230;
    transform: scale(1.01);
}
.manga-cover {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}
footer {
    color: #94a3b8;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #0b1220;
}

@media (min-width: 992px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-weight: bold;
    }
}