
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1720;
    color: #e6eef8;
    font-family: "Trebuchet MS", Arial, sans-serif;
    line-height: 1.5;
}

.header {
    background-color: #0b1220;
    padding: 12px 5%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    width: 92px;
    height: 34px;
}

.nav-link {
    color: #f97316;
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover {
    color: #492208;
    text-decoration: underline;
}

.page-title {
    color: #f97316;
    text-align: center;
    font-size: 2rem;
    margin: 30px 0 20px;
}

.top-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 80%;
    margin: 0 auto 50px;
    padding: 0 200px 0;
}

.top-item {
    display: flex;
    align-items: center;
    background-color: #1a2435;
    border-radius: 20px;
    padding: 12px 20px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.top-item:hover {
    background-color: #192230;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.rank {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 20px;
    min-width: 45px;
    text-align: center;
}

.top-item img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.info h4 {
    font-size: 0.9rem;
    color: #a0a3a7;
}

.info h3 {
    color: #e6eef8;
    font-size: 1.1rem;
    margin-top: 5px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #0f1720;
    color: #94a3b8;
    font-size: 0.9rem;
    border-top: 1px solid #1a2435;
}


@media (max-width: 900px) {
    .top-item {
        padding: 0 0 0;
    }

    .top-item img {
        width: 60px;
        height: 60px;
    }

    .info h3 {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        gap: 8px;
    }

    .page-title {
        font-size: 1.6rem;
        margin: 25px 0 15px;
    }

    .top-list {
        width: 90%;
    }

    .top-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rank {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .top-item img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 90px;
        height: 90px;
    }
}
