h1, .h1 { font-size: 1.75rem; }
h2, .h2 { font-size: 1.5rem; }
p, .lead { font-size: 1rem; line-height: 1.6; }
@media (min-width: 768px) {
    h1, .h1 { font-size: 2rem; }
    h2, .h2 { font-size: 1.75rem; }
    p, .lead { font-size: 1.0625rem; }
}
@media (min-width: 1200px) {
    h1, .h1 { font-size: 2.5rem; }
    h2, .h2 { font-size: 2rem; }
    p, .lead { font-size: 1.125rem; }
}
